<div id="container">
    <div id="setup">
        <form action="/todo">
            <button>Create new todo</button>
        </form>
        <form action="/toggleTheme">
            <button formmethod="post">Toggle Theme</button>
        </form>
    </div>

    <div id="filter">
        <form action='/orderBy'>
            <button type="submit" name="order" value="title" formmethod="post">Name</button>
            <button type="submit" name="order" value="dueDate" formmethod="post">By Due Date</button>
            <button type="submit" name="order" value="createDate" formmethod="post">By Creation Date</button>
            <button type="submit" name="order" value="importance" formmethod="post">By Importance</button>
        </form>

        <form action="/filterCompleted">
            <!--todo-->
            <button type="submit" name="order" value="filterCompleted" formmethod="post">Filter Completed</button>
        </form>
    </div>

    <div id="notes">
        {{#each notes}}
            <div class="note-item">
                <div class="item1">
                    <p class="note-duedate">{{dueDate}}</p>
                    <label for="finished">
                        <input class="note-status" type="checkbox" name="finished" {{#if finished}} checked {{/if}}>
                    </label>
                </div>
                <div class="item2">
                    <p class="note-title">{{title}}</p>
                    <p class="note-description">{{description}}</p>
                </div>
                <div class="item3">
                    <p class="note-importance">{{importance}}</p>
                    <form action="/todo/{{_id}}" method="get">
                        <button class="note-button note-editBtn" type="submit">Edit</button>
                    </form>
                </div>
            </div>
        {{else}}
            <div>unlucky</div>
        {{/each}}
    </div>
</div>
