<form id="todoForm" method="post">
    <label for="title">Title: </label>
    <input type="text" id="title" name="title" value="{{data.title}}" required>

    <label for="importance">Importance: </label>
    <input type="number" min="0" max="5" id="importance" name="importance" value="{{data.importance}}">

    <label for="dueDate">Due Date: </label>
    <input type="date" id="dueDate" name="dueDate" value="{{data.dueDate}}">

    <label for="finished">Finished: </label>
    <input type="checkbox" id="finished" name="finished" {{#if data.finished}} checked {{/if}}>

    <label for="description">Description: </label>
    <textarea id="description" name="description">{{data.description}}</textarea>

    <button id="finish" type="submit" formaction="/todo{{#if data._id}}/{{data._id}}{{/if}}">
        {{#if data._id}}Update{{else}}Create{{/if}}
    </button>

    <button id="finishReturn" type="submit" formaction="/todo{{#if data._id}}/{{data._id}}{{/if}}/return">
        {{#if data._id}}Update{{else}}Create{{/if}} & Overview
    </button>

    <button id="return" type="submit" formaction="/" formmethod="get">Overview</button>
</form>
